.modal--reg {

	.modal-content {
		max-width: 320px;
	}

}

$links-offset: 36px;

.modal-tabs {
	margin-bottom: 15px;
	a {
		letter-spacing: .01em;
		color: black;
		position: relative;
		&::after {
			content: '';
			@include stretch-x(2px, 2px);
			border-bottom: 2px solid $red;
			transition: transform .3s;
			transform-origin: 50% 50%;
			transform: scaleX(0);
			bottom: 1px;
		}
	}
	ul {
		margin: 0 (-$links-offset/2);
	}
	li {
		padding-left: $links-offset/2;
		padding-right: $links-offset/2;
	}
	li.active a {
		font-weight: bold;
		&::after {
			transform: scaleX(1);
		}
	}
}