<!-- modal-reg -->
<div class="modal modal--reg fade" tabindex="-1" role="dialog" id="modal--reg">
  <div class="modal-dialog" role="document">
  	<div class="modal-dialog-in">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="btn--unstyled btn--close" data-dismiss="modal"><i class="icon icon-close"></i></button>
	        <h4 class="modal-title text--center text--white text--uppercase">Регистрация</h4>
	      </div>
	      <div class="modal-body">

	      	<div class="modal-tabs text--uppercase text--center">
	      		<ul class="list--inline" role="tablist">
	      			<li role="presentation" class="active">
	      				<a href="#tab-reg-quick" class="link--block" aria-controls="tab-reg-quick" role="tab" data-toggle="tab">Быстрая</a>
	      			</li>
	      			<li role="presentation">
	      				<a href="#tab-reg-full" class="link--block" aria-controls="tab-reg-full" role="tab" data-toggle="tab">Полная</a>
	      			</li>
  					</ul>
  				</div>

  				<div class="tab-content">
  					<div role="tabpanel" class="tab-pane active" data-role="tab" id="tab-reg-quick">
			      	{% include "form-reg/_form-reg.quick.html" %}
  					</div>
  					<div role="tabpanel" class="tab-pane" data-role="tab" id="tab-reg-full">
			      	{% include "form-reg/_form-reg.full.html" %}
  					</div>
  				</div>

	      </div>
	    </div>
	  </div>
  </div>
</div><!-- /modal-reg -->