button {
  cursor: pointer;
  outline: none !important;
}

.btn,
.btn--unstyled {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  touch-action: manipulation;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
  line-height: 1.428571428571429;
  line-height: normal;
  user-select: none;
  white-space: nowrap;
  background-image: none;
}

.btn--unstyled {
  padding: 0;
  border: 0;
  background: none;
}

.btn {
  text-align: center;
  border: 1px solid transparent;
  font-size: 16px;
  transition-property: box-shadow, background-color, color;
  transition-duration: .2s;
  padding: 3px 20px 5px;
  position: relative;
  text-transform: uppercase;
  border-radius: 4px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &:active,
  &.active {
    &:not([disabled]) {
      box-shadow: inset 0 3px 5px rgba(black, .125);
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: .65;
    // box-shadow: none;
  }

}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}

.btn--submit {
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s;
    pointer-events: none;
    background-image: inline('#{$path-inline}/spinner-yellow.svg');
  }
  .form--loading & {
    > span {
      opacity: 0;
    }
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn--password {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  font-size: 17px;
  color: $inp-placeholder;
  transition: color .3s;
  &:hover {
    color: $link-color;
  }
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn--red {
  color: white;
  background-color: #773626;
  background-image: radial-gradient(ellipse at center, #773626 0%, #8e3e37 55%, #6f3224 100%);
  text-shadow: 1px 1px 0 rgba(#7a362a, 1);
}