// @font-face {
//   font-family: 'regular';
//   src:  url('#{$path-fonts}/NAME.eot');
//   src: 	url('#{$path-fonts}/NAME.eot?#iefix') format('embedded-opentype'),
//   			url('#{$path-fonts}/NAME.woff2') format('woff2'),
//   			url('#{$path-fonts}/NAME.woff') format('woff'),
//   			url('#{$path-fonts}/NAME.ttf') format('truetype'),
//   			url('#{$path-fonts}/NAME.svg#regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }