// *************************************************************************

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

// legend {
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   font-size: $font-size-base;
//   line-height: inherit;
//   border: 0;
// }

label {
  display: inline-block;
  max-width: 100%;
}

input[type="search"] {
  box-sizing: border-box;
}

// input[type="radio"],
// input[type="checkbox"] {
//   margin: 4px 0 0;
//   margin-top: 1px \9; // IE8-9
//   line-height: normal;
// }

// input[type="file"] {
//   display: block;
// }

// input[type="range"] {
//   display: block;
//   width: 100%;
// }

select[multiple],
select[size] {
  height: auto;
}

// output {
//   display: block;
//   margin: 0;
//   padding: 0;
//   font-size: $font-size-base;
//   line-height: $line-height-base;
//   color: $input-color;
// }

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571428571429;
  line-height: 1;
  line-height: normal;
  color: $inp-color;
  background-color: white;
  background-image: none;
  border: 1px solid $inp-border;
  border-radius: 4px;
  // box-shadow: inset 0 1px 1px rgba(black, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none !important;
  letter-spacing: .03em;

  &::placeholder {
    color: $inp-placeholder;
  }

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  
  &:focus {
    $color-rgba: rgba(red($yellow), green($yellow), blue($yellow), .6);
    border-color: $inp-focus;
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px $color-rgba;
  }

  // &:invalid {
  //   box-shadow: none;
  // }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: gray;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

}

.btn--password + .form-control {
  padding-right: 30px + 12px;
}

textarea.form-control {
  height: auto;
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
}

// @media screen and (-webkit-min-device-pixel-ratio: 0) {
//   input[type="date"],
//   input[type="time"],
//   input[type="datetime-local"],
//   input[type="month"] {
//     &.form-control {
//       line-height: $input-height-base;
//     }
//   }
// }

.form-group {
  margin-bottom: 9px;
}

.controls {
  position: relative;
}

.control-label {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: .01em;
  margin-bottom: 6px;
  user-select: none;
}

form {
  position: relative;
}

.form--loading {
  &::after {
    content: '';
    @include stretch;
    z-index: 1;
  }
}

.bootstrap-select {
  > .dropdown-toggle {
    background: white;
    padding: 5px (12px + 20px) 4px 12px;
    letter-spacing: .03em;
    border: 1px solid $inp-border;
    border-radius: 4px;
    color: $inp-color;
    text-transform: none;
    font-size: 14px;
    &::after {
      position: absolute;
      right: 4px;
      top: calc(50% + 1px);
      transform: translateY(-50%);
      transition: transform .3s;
      pointer-events: none;
      font-size: 17px;
      color: $inp-placeholder;
    }
  }
  .dropdown-toggle .filter-option {
    padding-right: 0;
  }
  .filter-option-inner-inner {
    @include text-overflow;
  }
  &.open {
    > .dropdown-toggle {
      $color-rgba: rgba(red($yellow), green($yellow), blue($yellow), .6);
      border-color: $inp-focus;
      box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px $color-rgba;
      &::after {
        transform: translateY(-50%) rotate(180deg);
        color: $link-color;
      }
    }
  }
  .bs-caret {
    display: none;
  }
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle, 
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding-top: 4px;
  padding-bottom: 8px;
}

input[type="checkbox"] {
  display: none;
}

label.checkbox {
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 25px;
  position: relative;
  font-size: 10px;
  line-height: 14px;
  color: black;
  user-select: none;
  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 50%;
    transition: all .3s;
  }
  &::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 2px;
    transform: translateY(-50%);
    border: 1px solid #949494;
  }
  &::after {
    color: white;
    font-size: 10px;
    transform: translate(2px, -50%) scale(0);
  }
}

input[type="checkbox"]:checked + label.checkbox {
  &::before {
    background: $link-color;
    border-color: $link-color;
  }
  &::after {
    transform: translate(2px, -50%) scale(1);
  }
}

.group--confirm {
  padding-top: 9px;
}