html,
body,
.wrapper {
	height: 100%;
}

body {
	min-width: $layout-min-width;
}

.wrapper-in { // wrapper
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}