//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    transform: translate(0, -50%);
    transition: transform .4s ease-out;
  }
  &.in .modal-dialog {
    transform: translate(0, 0);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.modal-dialog-in {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: white;
  // border: 1px solid #eee; //old browsers fallback (ie8 etc)
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
  // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: .7;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  background: $red;
  position: relative;
  padding: 6px 20px 8px;
  min-height: 34px;
  border-radius: 4px 4px 0 0;
  .btn--close {
    position: absolute;
    z-index: 2;
    right: 11px;
    top: 8px;
    color: white;
    font-size: 15px;
    transition: color .3s ease-in-out;
    &:hover {
      color: rgba(white, .7);
    }
  }
}

.modal-title {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: normal;
  letter-spacing: .01em;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 16px 20px 40px;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}