/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-up) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-phone) {}

$original: 640;

@include respond-to("(max-width: 767px) and (min-width: 601px)") {
	$size: 601 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 639px) and (min-width: 600px)") {
	$size: 600 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 599px) and (min-width: 414px)") {
	$size: 414 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 413px) and (min-width: 412px)") {
	$size: 412 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 411px) and (min-width: 384px)") {
	$size: 384 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 383px) and (min-width: 375px)") {
	$size: 375 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 374px) and (min-width: 360px)") {
	$size: 360 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}

@include respond-to("(max-width: 359px) and (min-width: 320px)") {
	$size: 320 * 16 / $original;
	html {
		font-size: $size + 0PX;
	}
}