$blue: blue;
$green: green;
$orange: orange;
$red: #882211;
$pink: pink;
$cyan: cyan;
$purple: purple;
$gray: #757575;
$yellow: #f4b410;

$brand-primary: $red;
$brand-secondary: $green;

// --------------------------------------------------
$body-bg: white !default;
$text-color: black !default;

$link-color: #752719 !default;
$link-hover-color: darken($link-color, 15%) !default;


$inp-placeholder: #949494;
$inp-border: #a9a9a9;
$inp-focus: $red;
$inp-color: black;

.text--white {
	color: white;
}
.text--black {
	color: black;
}
.text--gray {
	color: $gray;
}
.text--red {
	color: $red;
}