// devices
// **********************************************************************************
$layout-min-width:  320px;//min-width
$layout-max-width: 	1140px;//max-width

// Extra small screen / phone
$screen-xs:         480px !default; //** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:     $screen-xs !default; //** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:      $screen-xs-min !default;

// Small screen / tablet
$screen-sm:         768px !default; //** Deprecated `$screen-sm` as of v3.0.1
$screen-sm-min:     $screen-sm !default; //** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:     $screen-sm-min !default;

// Medium screen / desktop
$screen-md:         992px !default; //** Deprecated `$screen-md` as of v3.0.1
$screen-md-min:     $screen-md !default; //** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:    $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:         1200px !default; //** Deprecated `$screen-lg` as of v3.0.1
$screen-lg-min:   	$screen-lg !default; //** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:     ($screen-sm-min - 1) !default;
$screen-sm-max:     ($screen-md-min - 1) !default;
$screen-md-max:     ($screen-lg-min - 1) !default;

$grid-columns:			12 !default; // число колонок
$grid-gutter-width: 20px !default; // расстояние между колонками

// Small screen / tablet
$container-tablet:  (720px + $grid-gutter-width) !default;
$container-sm:      $container-tablet !default;

// Medium screen / desktop
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md:      $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop: ($layout-max-width + $grid-gutter-width) !default;
$container-lg:            $container-large-desktop !default;

// breakpoints
// **********************************************************************************
$respond-phone: 		"(max-width: #{($screen-tablet - 1)})";
$respond-tablet:		"(min-width: #{($screen-tablet)}) and (max-width: #{($screen-desktop - 1)})";
$respond-desktop:		"(min-width: #{($screen-desktop)}) and (max-width: #{($screen-lg-desktop - 1)})";
$respond-large:			"(min-width: #{($screen-lg-desktop)})";

$respond-tablet-down: 	"(max-width: #{($screen-desktop - 1)})";
$respond-tablet-up: 		"(min-width: #{($screen-tablet)})";

$respond-desktop-down:	"(max-width: #{($screen-lg-desktop - 1)})";
$respond-desktop-up:		"(min-width: #{($screen-desktop)})";

$respond-portrait:		"(orientation:portrait)";
$respond-landscape:		"(orientation:landscape)";