<div class="header-wrapper">

	<!-- .header -->
	<header class="header" data-role="header">
	  <div class="container">
	  	
	  	<div class="pull-right">
	  		<button type="button" class="btn btn--white btn--reg" data-toggle="modal" data-target="#modal--reg">Регистрация</button>
	  	</div>

	  </div>
	</header><!-- /.header -->
	
</div>