$height: 70px;

.header-wrapper {
	position: relative;
	margin-bottom: -$height;
}

.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	backface-visibility: hidden;
	background: $red;

	.container {
		line-height: $height;
	}
}

.header-wrapper,
.header {
	height: $height;
}

.content {
	padding-top: $height;
}