<option data-hidden="true"></option>
<option data-content="<span class='flag'><img src='img/flags/KZ.png'></span> Казахстан" data-currency="KZT" value="KZ" selected>Казахстан</option>
<option data-content="<span class='flag'><img src='img/flags/RU.png'></span> Россия" data-currency="RUB" value="RU">Россия</option>
<option data-content="<span class='flag'><img src='img/flags/AZ.png'></span> Азербайджан" data-currency="AZN" value="AZ">Азербайджан</option>
<option data-content="<span class='flag'><img src='img/flags/AM.png'></span> Армения" data-currency="USD" value="AM">Армения</option>
<option data-content="<span class='flag'><img src='img/flags/BY.png'></span> Белоруссия" data-currency="BYN" value="BY">Белоруссия</option>
<option data-content="<span class='flag'><img src='img/flags/KG.png'></span> Киргизия" data-currency="KGS" value="KG">Киргизия</option>
<option data-content="<span class='flag'><img src='img/flags/MD.png'></span> Молдавия" data-currency="MDL" value="MD">Молдавия</option>
<option data-content="<span class='flag'><img src='img/flags/TJ.png'></span> Таджикистан" data-currency="TJS" value="TJ">Таджикистан</option>
<option data-content="<span class='flag'><img src='img/flags/TM.png'></span> Туркмения" data-currency="USD" value="TM">Туркмения</option>
<option data-content="<span class='flag'><img src='img/flags/UZ.png'></span> Узбекистан" data-currency="UZS" value="UZ">Узбекистан</option>
<option data-content="<span class='flag'><img src='img/flags/UA.png'></span> Украина" data-currency="UAH" value="UA">Украина</option>
<option data-content="<span class='flag'><img src='img/flags/GE.png'></span> Грузия" data-currency="GEL" value="GE">Грузия</option>
<option data-content="<span class='flag'><img src='img/flags/AB.png'></span> Абхазия" data-currency="USD" value="AB">Абхазия</option>
<option data-content="<span class='flag'><img src='img/flags/AU.png'></span> Австралия" data-currency="USD" value="AU">Австралия</option>
<option data-content="<span class='flag'><img src='img/flags/AT.png'></span> Австрия" data-currency="EUR" value="AT">Австрия</option>
<option data-content="<span class='flag'><img src='img/flags/AL.png'></span> Албания" data-currency="USD" value="AL">Албания</option>
<option data-content="<span class='flag'><img src='img/flags/DZ.png'></span> Алжир" data-currency="USD" value="DZ">Алжир</option>
<option data-content="<span class='flag'><img src='img/flags/AS.png'></span> Американское Самоа" data-currency="USD" value="AS">Американское Самоа</option>
<option data-content="<span class='flag'><img src='img/flags/AO.png'></span> Ангола" data-currency="USD" value="AO">Ангола</option>
<option data-content="<span class='flag'><img src='img/flags/AD.png'></span> Андорра" data-currency="EUR" value="AD">Андорра</option>
<option data-content="<span class='flag'><img src='img/flags/AG.png'></span> Антигуа и Барбуда" data-currency="USD" value="AG">Антигуа и Барбуда</option>
<option data-content="<span class='flag'><img src='img/flags/AR.png'></span> Аргентина" data-currency="USD" value="AR">Аргентина</option>
<option data-content="<span class='flag'><img src='img/flags/AF.png'></span> Афганистан" data-currency="USD" value="AF">Афганистан</option>
<option data-content="<span class='flag'><img src='img/flags/BS.png'></span> Багамские Острова" data-currency="USD" value="BS">Багамские Острова</option>
<option data-content="<span class='flag'><img src='img/flags/BD.png'></span> Бангладеш" data-currency="USD" value="BD">Бангладеш</option>
<option data-content="<span class='flag'><img src='img/flags/BB.png'></span> Барбадос" data-currency="USD" value="BB">Барбадос</option>
<option data-content="<span class='flag'><img src='img/flags/BH.png'></span> Бахрейн" data-currency="USD" value="BH">Бахрейн</option>
<option data-content="<span class='flag'><img src='img/flags/BZ.png'></span> Белиз" data-currency="USD" value="BZ">Белиз</option>
<option data-content="<span class='flag'><img src='img/flags/BE.png'></span> Бельгия" data-currency="EUR" value="BE">Бельгия</option>
<option data-content="<span class='flag'><img src='img/flags/BJ.png'></span> Бенин" data-currency="USD" value="BJ">Бенин</option>
<option data-content="<span class='flag'><img src='img/flags/BG.png'></span> Болгария" data-currency="USD" value="BG">Болгария</option>
<option data-content="<span class='flag'><img src='img/flags/BO.png'></span> Боливия" data-currency="USD" value="BO">Боливия</option>
<option data-content="<span class='flag'><img src='img/flags/BA.png'></span> Босния и Герцеговина" data-currency="USD" value="BA">Босния и Герцеговина</option>
<option data-content="<span class='flag'><img src='img/flags/BW.png'></span> Ботсвана" data-currency="USD" value="BW">Ботсвана</option>
<option data-content="<span class='flag'><img src='img/flags/BR.png'></span> Бразилия" data-currency="USD" value="BR">Бразилия</option>
<option data-content="<span class='flag'><img src='img/flags/BN.png'></span> Бруней" data-currency="USD" value="BN">Бруней</option>
<option data-content="<span class='flag'><img src='img/flags/BF.png'></span> Буркина-Фасо" data-currency="USD" value="BF">Буркина-Фасо</option>
<option data-content="<span class='flag'><img src='img/flags/BI.png'></span> Бурунди" data-currency="USD" value="BI">Бурунди</option>
<option data-content="<span class='flag'><img src='img/flags/BT.png'></span> Бутан" data-currency="USD" value="BT">Бутан</option>
<option data-content="<span class='flag'><img src='img/flags/VU.png'></span> Вануату" data-currency="USD" value="VU">Вануату</option>
<option data-content="<span class='flag'><img src='img/flags/VA.png'></span> Ватикан" data-currency="EUR" value="VA">Ватикан</option>
<option data-content="<span class='flag'><img src='img/flags/UK.png'></span> Великобритания" data-currency="GBP" value="UK">Великобритания</option>
<option data-content="<span class='flag'><img src='img/flags/HU.png'></span> Венгрия" data-currency="USD" value="HU">Венгрия</option>
<option data-content="<span class='flag'><img src='img/flags/VE.png'></span> Венесуэла" data-currency="USD" value="VE">Венесуэла</option>
<option data-content="<span class='flag'><img src='img/flags/VN.png'></span> Вьетнам" data-currency="USD" value="VN">Вьетнам</option>
<option data-content="<span class='flag'><img src='img/flags/GA.png'></span> Габон" data-currency="USD" value="GA">Габон</option>
<option data-content="<span class='flag'><img src='img/flags/HT.png'></span> Гаити" data-currency="USD" value="HT">Гаити</option>
<option data-content="<span class='flag'><img src='img/flags/GY.png'></span> Гайана" data-currency="USD" value="GY">Гайана</option>
<option data-content="<span class='flag'><img src='img/flags/GM.png'></span> Гамбия" data-currency="USD" value="GM">Гамбия</option>
<option data-content="<span class='flag'><img src='img/flags/GH.png'></span> Гана" data-currency="USD" value="GH">Гана</option>
<option data-content="<span class='flag'><img src='img/flags/GT.png'></span> Гватемала" data-currency="USD" value="GT">Гватемала</option>
<option data-content="<span class='flag'><img src='img/flags/GN.png'></span> Гвинея" data-currency="USD" value="GN">Гвинея</option>
<option data-content="<span class='flag'><img src='img/flags/GW.png'></span> Гвинея-Бисау" data-currency="USD" value="GW">Гвинея-Бисау</option>
<option data-content="<span class='flag'><img src='img/flags/DE.png'></span> Германия" data-currency="EUR" value="DE">Германия</option>
<option data-content="<span class='flag'><img src='img/flags/HN.png'></span> Гондурас" data-currency="USD" value="HN">Гондурас</option>
<option data-content="<span class='flag'><img src='img/flags/PS.png'></span> Государство Палестина" data-currency="USD" value="PS">Государство Палестина</option>
<option data-content="<span class='flag'><img src='img/flags/GD.png'></span> Гренада" data-currency="USD" value="GD">Гренада</option>
<option data-content="<span class='flag'><img src='img/flags/GR.png'></span> Греция" data-currency="EUR" value="GR">Греция</option>
<option data-content="<span class='flag'><img src='img/flags/DK.png'></span> Дания" data-currency="USD" value="DK">Дания</option>
<option data-content="<span class='flag'><img src='img/flags/DJ.png'></span> Джибути" data-currency="USD" value="DJ">Джибути</option>
<option data-content="<span class='flag'><img src='img/flags/DM.png'></span> Доминика" data-currency="USD" value="DM">Доминика</option>
<option data-content="<span class='flag'><img src='img/flags/DO.png'></span> Доминиканская Республика" data-currency="USD" value="DO">Доминиканская Республика</option>
<option data-content="<span class='flag'><img src='img/flags/CD.png'></span> ДР Конго" data-currency="USD" value="CD">ДР Конго</option>
<option data-content="<span class='flag'><img src='img/flags/EG.png'></span> Египет" data-currency="USD" value="EG">Египет</option>
<option data-content="<span class='flag'><img src='img/flags/ZM.png'></span> Замбия" data-currency="USD" value="ZM">Замбия</option>
<option data-content="<span class='flag'><img src='img/flags/ZW.png'></span> Зимбабве" data-currency="USD" value="ZW">Зимбабве</option>
<option data-content="<span class='flag'><img src='img/flags/IL.png'></span> Израиль" data-currency="USD" value="IL">Израиль</option>
<option data-content="<span class='flag'><img src='img/flags/IN.png'></span> Индия" data-currency="USD" value="IN">Индия</option>
<option data-content="<span class='flag'><img src='img/flags/ID.png'></span> Индонезия" data-currency="USD" value="ID">Индонезия</option>
<option data-content="<span class='flag'><img src='img/flags/JO.png'></span> Иордания" data-currency="USD" value="JO">Иордания</option>
<option data-content="<span class='flag'><img src='img/flags/IQ.png'></span> Ирак" data-currency="USD" value="IQ">Ирак</option>
<option data-content="<span class='flag'><img src='img/flags/IR.png'></span> Иран" data-currency="USD" value="IR">Иран</option>
<option data-content="<span class='flag'><img src='img/flags/IE.png'></span> Ирландия" data-currency="EUR" value="IE">Ирландия</option>
<option data-content="<span class='flag'><img src='img/flags/IS.png'></span> Исландия" data-currency="USD" value="IS">Исландия</option>
<option data-content="<span class='flag'><img src='img/flags/ES.png'></span> Испания" data-currency="EUR" value="ES">Испания</option>
<option data-content="<span class='flag'><img src='img/flags/IT.png'></span> Италия" data-currency="EUR" value="IT">Италия</option>
<option data-content="<span class='flag'><img src='img/flags/YE.png'></span> Йемен" data-currency="USD" value="YE">Йемен</option>
<option data-content="<span class='flag'><img src='img/flags/CV.png'></span> Кабо-Верде" data-currency="USD" value="CV">Кабо-Верде</option>
<option data-content="<span class='flag'><img src='img/flags/KH.png'></span> Камбоджа" data-currency="USD" value="KH">Камбоджа</option>
<option data-content="<span class='flag'><img src='img/flags/CM.png'></span> Камерун" data-currency="USD" value="CM">Камерун</option>
<option data-content="<span class='flag'><img src='img/flags/GD.png'></span> Канада" data-currency="USD" value="GD">Канада</option>
<option data-content="<span class='flag'><img src='img/flags/QA.png'></span> Катар" data-currency="USD" value="QA">Катар</option>
<option data-content="<span class='flag'><img src='img/flags/KE.png'></span> Кения" data-currency="USD" value="KE">Кения</option>
<option data-content="<span class='flag'><img src='img/flags/CY.png'></span> Кипр" data-currency="EUR" value="CY">Кипр</option>
<option data-content="<span class='flag'><img src='img/flags/KI.png'></span> Кирибати" data-currency="USD" value="KI">Кирибати</option>
<option data-content="<span class='flag'><img src='img/flags/CN.png'></span> Китай" data-currency="CNY" value="CN">Китай</option>
<option data-content="<span class='flag'><img src='img/flags/KP.png'></span> КНДР" data-currency="USD" value="KP">КНДР</option>
<option data-content="<span class='flag'><img src='img/flags/CO.png'></span> Колумбия" data-currency="USD" value="CO">Колумбия</option>
<option data-content="<span class='flag'><img src='img/flags/KM.png'></span> Коморские Острова" data-currency="USD" value="KM">Коморские Острова</option>
<option data-content="<span class='flag'><img src='img/flags/CR.png'></span> Коста-Рика" data-currency="USD" value="CR">Коста-Рика</option>
<option data-content="<span class='flag'><img src='img/flags/CI.png'></span> Кот д'Ивуар" data-currency="USD" value="CI">Кот д'Ивуар</option>
<option data-content="<span class='flag'><img src='img/flags/CU.png'></span> Куба" data-currency="USD" value="CU">Куба</option>
<option data-content="<span class='flag'><img src='img/flags/KW.png'></span> Кувейт" data-currency="USD" value="KW">Кувейт</option>
<option data-content="<span class='flag'><img src='img/flags/LA.png'></span> Лаос" data-currency="USD" value="LA">Лаос</option>
<option data-content="<span class='flag'><img src='img/flags/LV.png'></span> Латвия" data-currency="EUR" value="LV">Латвия</option>
<option data-content="<span class='flag'><img src='img/flags/LS.png'></span> Лесото" data-currency="USD" value="LS">Лесото</option>
<option data-content="<span class='flag'><img src='img/flags/LR.png'></span> Либерия" data-currency="USD" value="LR">Либерия</option>
<option data-content="<span class='flag'><img src='img/flags/LB.png'></span> Ливан" data-currency="USD" value="LB">Ливан</option>
<option data-content="<span class='flag'><img src='img/flags/LY.png'></span> Ливия" data-currency="USD" value="LY">Ливия</option>
<option data-content="<span class='flag'><img src='img/flags/LT.png'></span> Литва" data-currency="EUR" value="LT">Литва</option>
<option data-content="<span class='flag'><img src='img/flags/LI.png'></span> Лихтенштейн" data-currency="USD" value="LI">Лихтенштейн</option>
<option data-content="<span class='flag'><img src='img/flags/LU.png'></span> Люксембург" data-currency="EUR" value="LU">Люксембург</option>
<option data-content="<span class='flag'><img src='img/flags/MU.png'></span> Маврикий" data-currency="USD" value="MU">Маврикий</option>
<option data-content="<span class='flag'><img src='img/flags/MR.png'></span> Мавритания" data-currency="USD" value="MR">Мавритания</option>
<option data-content="<span class='flag'><img src='img/flags/MG.png'></span> Мадагаскар" data-currency="USD" value="MG">Мадагаскар</option>
<option data-content="<span class='flag'><img src='img/flags/MK.png'></span> Македония" data-currency="USD" value="MK">Македония</option>
<option data-content="<span class='flag'><img src='img/flags/MW.png'></span> Малави" data-currency="USD" value="MW">Малави</option>
<option data-content="<span class='flag'><img src='img/flags/MY.png'></span> Малайзия" data-currency="USD" value="MY">Малайзия</option>
<option data-content="<span class='flag'><img src='img/flags/ML.png'></span> Мали" data-currency="USD" value="ML">Мали</option>
<option data-content="<span class='flag'><img src='img/flags/MV.png'></span> Мальдивские Острова" data-currency="USD" value="MV">Мальдивские Острова</option>
<option data-content="<span class='flag'><img src='img/flags/MT.png'></span> Мальта" data-currency="EUR" value="MT">Мальта</option>
<option data-content="<span class='flag'><img src='img/flags/MA.png'></span> Марокко" data-currency="USD" value="MA">Марокко</option>
<option data-content="<span class='flag'><img src='img/flags/MH.png'></span> Маршалловы Острова" data-currency="USD" value="MH">Маршалловы Острова</option>
<option data-content="<span class='flag'><img src='img/flags/MX.png'></span> Мексика" data-currency="USD" value="MX">Мексика</option>
<option data-content="<span class='flag'><img src='img/flags/MZ.png'></span> Мозамбик" data-currency="USD" value="MZ">Мозамбик</option>
<option data-content="<span class='flag'><img src='img/flags/MC.png'></span> Монако" data-currency="EUR" value="MC">Монако</option>
<option data-content="<span class='flag'><img src='img/flags/MN.png'></span> Монголия" data-currency="USD" value="MN">Монголия</option>
<option data-content="<span class='flag'><img src='img/flags/MM.png'></span> Мьянма" data-currency="USD" value="MM">Мьянма</option>
<option data-content="<span class='flag'><img src='img/flags/NA.png'></span> Намибия" data-currency="USD" value="NA">Намибия</option>
<option data-content="<span class='flag'><img src='img/flags/NR.png'></span> Науру" data-currency="USD" value="NR">Науру</option>
<option data-content="<span class='flag'><img src='img/flags/NP.png'></span> Непал" data-currency="USD" value="NP">Непал</option>
<option data-content="<span class='flag'><img src='img/flags/NE.png'></span> Нигер" data-currency="USD" value="NE">Нигер</option>
<option data-content="<span class='flag'><img src='img/flags/NG.png'></span> Нигерия" data-currency="USD" value="NG">Нигерия</option>
<option data-content="<span class='flag'><img src='img/flags/NL.png'></span> Нидерланды" data-currency="EUR" value="NL">Нидерланды</option>
<option data-content="<span class='flag'><img src='img/flags/NI.png'></span> Никарагуа" data-currency="USD" value="NI">Никарагуа</option>
<option data-content="<span class='flag'><img src='img/flags/NZ.png'></span> Новая Зеландия" data-currency="USD" value="NZ">Новая Зеландия</option>
<option data-content="<span class='flag'><img src='img/flags/NO.png'></span> Норвегия" data-currency="USD" value="NO">Норвегия</option>
<option data-content="<span class='flag'><img src='img/flags/AE.png'></span> ОАЭ" data-currency="USD" value="AE">ОАЭ</option>
<option data-content="<span class='flag'><img src='img/flags/OM.png'></span> Оман" data-currency="USD" value="OM">Оман</option>
<option data-content="<span class='flag'><img src='img/flags/PK.png'></span> Пакистан" data-currency="USD" value="PK">Пакистан</option>
<option data-content="<span class='flag'><img src='img/flags/PW.png'></span> Палау" data-currency="USD" value="PW">Палау</option>
<option data-content="<span class='flag'><img src='img/flags/PA.png'></span> Панама" data-currency="USD" value="PA">Панама</option>
<option data-content="<span class='flag'><img src='img/flags/PG.png'></span> Папуа — Новая Гвинея" data-currency="USD" value="PG">Папуа — Новая Гвинея</option>
<option data-content="<span class='flag'><img src='img/flags/PY.png'></span> Парагвай" data-currency="USD" value="PY">Парагвай</option>
<option data-content="<span class='flag'><img src='img/flags/PE.png'></span> Перу" data-currency="USD" value="PE">Перу</option>
<option data-content="<span class='flag'><img src='img/flags/PL.png'></span> Польша" data-currency="USD" value="PL">Польша</option>
<option data-content="<span class='flag'><img src='img/flags/PT.png'></span> Португалия" data-currency="EUR" value="PT">Португалия</option>
<option data-content="<span class='flag'><img src='img/flags/CG.png'></span> Республика Конго" data-currency="USD" value="CG">Республика Конго</option>
<option data-content="<span class='flag'><img src='img/flags/KR.png'></span> Республика Корея" data-currency="USD" value="KR">Республика Корея</option>
<option data-content="<span class='flag'><img src='img/flags/RW.png'></span> Руанда" data-currency="USD" value="RW">Руанда</option>
<option data-content="<span class='flag'><img src='img/flags/RO.png'></span> Румыния" data-currency="USD" value="RO">Румыния</option>
<option data-content="<span class='flag'><img src='img/flags/SV.png'></span> Сальвадор" data-currency="USD" value="SV">Сальвадор</option>
<option data-content="<span class='flag'><img src='img/flags/SM.png'></span> Сан-Марино" data-currency="EUR" value="SM">Сан-Марино</option>
<option data-content="<span class='flag'><img src='img/flags/ST.png'></span> Сан-Томе и Принсипи" data-currency="USD" value="ST">Сан-Томе и Принсипи</option>
<option data-content="<span class='flag'><img src='img/flags/SA.png'></span> Саудовская Аравия" data-currency="USD" value="SA">Саудовская Аравия</option>
<option data-content="<span class='flag'><img src='img/flags/SZ.png'></span> Свазиленд" data-currency="USD" value="SZ">Свазиленд</option>
<option data-content="<span class='flag'><img src='img/flags/SC.png'></span> Сейшельские Острова" data-currency="USD" value="SC">Сейшельские Острова</option>
<option data-content="<span class='flag'><img src='img/flags/SN.png'></span> Сенегал" data-currency="USD" value="SN">Сенегал</option>
<option data-content="<span class='flag'><img src='img/flags/VC.png'></span> Сент-Винсент и Гренадины" data-currency="USD" value="VC">Сент-Винсент и Гренадины</option>
<option data-content="<span class='flag'><img src='img/flags/KN.png'></span> Сент-Китс и Невис" data-currency="USD" value="KN">Сент-Китс и Невис</option>
<option data-content="<span class='flag'><img src='img/flags/LC.png'></span> Сент-Люсия" data-currency="USD" value="LC">Сент-Люсия</option>
<option data-content="<span class='flag'><img src='img/flags/RS.png'></span> Сербия" data-currency="USD" value="RS">Сербия</option>
<option data-content="<span class='flag'><img src='img/flags/SG.png'></span> Сингапур" data-currency="USD" value="SG">Сингапур</option>
<option data-content="<span class='flag'><img src='img/flags/SY.png'></span> Сирия" data-currency="USD" value="SY">Сирия</option>
<option data-content="<span class='flag'><img src='img/flags/SK.png'></span> Словакия" data-currency="EUR" value="SK">Словакия</option>
<option data-content="<span class='flag'><img src='img/flags/SI.png'></span> Словения" data-currency="EUR" value="SI">Словения</option>
<option data-content="<span class='flag'><img src='img/flags/SB.png'></span> Соломоновы Острова" data-currency="USD" value="SB">Соломоновы Острова</option>
<option data-content="<span class='flag'><img src='img/flags/SO.png'></span> Сомали" data-currency="USD" value="SO">Сомали</option>
<option data-content="<span class='flag'><img src='img/flags/SD.png'></span> Судан" data-currency="USD" value="SD">Судан</option>
<option data-content="<span class='flag'><img src='img/flags/SR.png'></span> Суринам" data-currency="USD" value="SR">Суринам</option>
<option data-content="<span class='flag'><img src='img/flags/US.png'></span> США" data-currency="USD" value="US">США</option>
<option data-content="<span class='flag'><img src='img/flags/SL.png'></span> Сьерра-Леоне" data-currency="USD" value="SL">Сьерра-Леоне</option>
<option data-content="<span class='flag'><img src='img/flags/TH.png'></span> Таиланд" data-currency="THB" value="TH">Таиланд</option>
<option data-content="<span class='flag'><img src='img/flags/TZ.png'></span> Танзания" data-currency="USD" value="TZ">Танзания</option>
<option data-content="<span class='flag'><img src='img/flags/TG.png'></span> Того" data-currency="USD" value="TG">Того</option>
<option data-content="<span class='flag'><img src='img/flags/TO.png'></span> Тонга" data-currency="USD" value="TO">Тонга</option>
<option data-content="<span class='flag'><img src='img/flags/TT.png'></span> Тринидад и Тобаго" data-currency="USD" value="TT">Тринидад и Тобаго</option>
<option data-content="<span class='flag'><img src='img/flags/TV.png'></span> Тувалу" data-currency="USD" value="TV">Тувалу</option>
<option data-content="<span class='flag'><img src='img/flags/TN.png'></span> Тунис" data-currency="USD" value="TN">Тунис</option>
<option data-content="<span class='flag'><img src='img/flags/TR.png'></span> Турция" data-currency="TRY" value="TR">Турция</option>
<option data-content="<span class='flag'><img src='img/flags/UG.png'></span> Уганда" data-currency="USD" value="UG">Уганда</option>
<option data-content="<span class='flag'><img src='img/flags/UY.png'></span> Уругвай" data-currency="USD" value="UY">Уругвай</option>
<option data-content="<span class='flag'><img src='img/flags/FM.png'></span> Федеративные Штаты Микронезии" data-currency="USD" value="FM">Федеративные Штаты Микронезии</option>
<option data-content="<span class='flag'><img src='img/flags/FJ.png'></span> Фиджи" data-currency="USD" value="FJ">Фиджи</option>
<option data-content="<span class='flag'><img src='img/flags/PH.png'></span> Филиппины" data-currency="USD" value="PH">Филиппины</option>
<option data-content="<span class='flag'><img src='img/flags/FI.png'></span> Финляндия" data-currency="EUR" value="FI">Финляндия</option>
<option data-content="<span class='flag'><img src='img/flags/FR.png'></span> Франция" data-currency="EUR" value="FR">Франция</option>
<option data-content="<span class='flag'><img src='img/flags/HR.png'></span> Хорватия" data-currency="USD" value="HR">Хорватия</option>
<option data-content="<span class='flag'><img src='img/flags/CF.png'></span> ЦАР" data-currency="USD" value="CF">ЦАР</option>
<option data-content="<span class='flag'><img src='img/flags/TD.png'></span> Чад" data-currency="USD" value="TD">Чад</option>
<option data-content="<span class='flag'><img src='img/flags/ME.png'></span> Черногория" data-currency="USD" value="ME">Черногория</option>
<option data-content="<span class='flag'><img src='img/flags/CZ.png'></span> Чехия" data-currency="USD" value="CZ">Чехия</option>
<option data-content="<span class='flag'><img src='img/flags/CL.png'></span> Чили" data-currency="USD" value="CL">Чили</option>
<option data-content="<span class='flag'><img src='img/flags/CH.png'></span> Швейцария" data-currency="USD" value="CH">Швейцария</option>
<option data-content="<span class='flag'><img src='img/flags/SE.png'></span> Швеция" data-currency="USD" value="SE">Швеция</option>
<option data-content="<span class='flag'><img src='img/flags/LK.png'></span> Шри-Ланка" data-currency="USD" value="LK">Шри-Ланка</option>
<option data-content="<span class='flag'><img src='img/flags/EC.png'></span> Эквадор" data-currency="USD" value="EC">Эквадор</option>
<option data-content="<span class='flag'><img src='img/flags/GQ.png'></span> Экваториальная Гвинея" data-currency="USD" value="GQ">Экваториальная Гвинея</option>
<option data-content="<span class='flag'><img src='img/flags/ER.png'></span> Эритрея" data-currency="USD" value="ER">Эритрея</option>
<option data-content="<span class='flag'><img src='img/flags/EE.png'></span> Эстония" data-currency="USD" value="EE">Эстония</option>
<option data-content="<span class='flag'><img src='img/flags/ET.png'></span> Эфиопия" data-currency="USD" value="ET">Эфиопия</option>
<option data-content="<span class='flag'><img src='img/flags/ZA.png'></span> ЮАР" data-currency="USD" value="ZA">ЮАР</option>
<option data-content="<span class='flag'><img src='img/flags/OS.png'></span> Южная Осетия" data-currency="USD" value="OS">Южная Осетия</option>
<option data-content="<span class='flag'><img src='img/flags/SS.png'></span> Южный Судан" data-currency="USD" value="SS">Южный Судан</option>
<option data-content="<span class='flag'><img src='img/flags/JM.png'></span> Ямайка" data-currency="USD" value="JM">Ямайка</option>
<option data-content="<span class='flag'><img src='img/flags/JP.png'></span> Япония" data-currency="USD" value="JP">Япония</option>