<!-- form-reg -->
<div class="form--reg" data-form="reg">
	<form action="/">

		<fieldset data-step="data">
			
			<div class="form-group group--phone">
				<label class="control-label"><span class="text--uppercase">Номер телефона</span></label>
				<div class="controls">
					<div class="controls--code">
						<select class="form-control" name="code" data-live-search="true" required>
							{% include "form-reg/_countriyes.html" %}
						</select>
					</div>
					<div class="controls--phone">
						<input type="tel" class="form-control" name="phone" data-mask="phone" required />
					</div>
				</div>
			</div>

			<div class="form-group group--currency">
				<label class="control-label"><span class="text--uppercase">Валюта счета</span></label>
				<div class="controls">
					<select class="form-control" name="currency" title="Выбрать" data-live-search="true" required>
						<option data-hidden="true"></option>
						<option data-subtext="KZT" value="KZT">Казахстанский тенге</option>
						<option data-subtext="USD" value="USD">Доллар США</option>
						<option data-subtext="RUB" value="RUB">Российский Рубль</option>
						<option data-subtext="Virtual" value="Virtual">Виртуальная валюта</option>
						<option data-subtext="KGS" value="KGS">Кыргызский Сом</option>
						<option data-subtext="UAH" value="UAH">Украинская Гривна</option>
						<option data-subtext="EUR" value="EUR">Евро</option>
						<option data-subtext="CNY" value="CNY">Китайский Юань</option>
						<option data-subtext="TJS" value="TJS">Таджикский Сомони</option>
						<option data-subtext="BYN" value="BYN">Белорусский Рубль</option>
						<option data-subtext="GBP" value="GBP">Фунт стерлингов Великобритании</option>
						<option data-subtext="MDL" value="MDL">Молдавский Лей</option>
						<option data-subtext="GEL" value="GEL">Грузинский Лари</option>
						<option data-subtext="TRY" value="TRY">Турецкая Лира</option>
						<option data-subtext="AZN" value="AZN">Азербайджанский манат</option>
						<option data-subtext="THB" value="THB">Тайский бат</option>
						<option data-subtext="UZS" value="UZS">Узбекский сум</option>
					</select>
				</div>
			</div>

			<div class="form-group group--confirm">
				<div class="controls">
					<input type="checkbox" id="confirm_quick" required /> <label class="checkbox" for="confirm_quick"><b>Я подтверждаю, что мне исполнилось 18 лет (для жителей Казахстана - 21 год) и согласен <a href="#" target="_blank">с Правилами</a> букмекерской конторы “Олимп”</b></label>
				</div>
			</div>

			<div class="form-group group--recaptcha">
				<div class="controls">
					<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="tab-recaptcha_quick">
							<img src="img/recaptcha.png" />
				    </div>
				    <div role="tabpanel" class="tab-pane" id="tab-captcha_quick">
				    	<p><b>Введите все числа красного цвета с картинки:</b></p>
				    	<div>
				    		<img src="img/code_img.png" />
				    	</div>
				    	<div>
		    				<input type="text" class="form-control" data-inputmask="'alias': 'numeric'" name="captcha" required disabled />
				    	</div>
				    </div>
				  </div>
				</div>
				 <ul class="list--unstyled info text--gray" role="tablist">
    			<li role="presentation" class="active">Если возникли проблемы с Captcha, пожалуйста, используйте <a href="#tab-recaptcha_quick" aria-controls="tab-recaptcha_quick" role="tab" data-toggle="tab"><b>альтернативный</b></a> метод подтверждения</li>
    			<li role="presentation">Если возникли проблемы с Recaptcha, пожалуйста, используйте <a href="#tab-captcha_quick" aria-controls="tab-captcha_quick" role="tab" data-toggle="tab"><b>альтернативный</b></a> метод подтверждения</li>
    		</ul>
			</div>

			<div class="form-controls">
				<button type="submit" class="btn btn--red btn--block btn--submit" disabled>
					<span>Зарегистрироваться</span>
				</button>
			</div>

		</fieldset>

		<fieldset data-step="response" style="display: none;">
			<div class="form-response text--center">
				<p><b>Спасибо!</b></p>
				<p>Какой-то текст или действие после успешной регистрации</p>
			</div>
		</fieldset>

	</form>
</div><!-- /form-reg -->