// .form--reg {
// }

.form-response {
	padding-top: 20px;
	p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.group--phone {
	font-size: 0;
	.controls {
		position: relative;
		> div {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}
	}
	.controls--code {
		width: 55px;
		margin-right: -55px;
		.form-control {

		}
	}
	.controls--phone {
		width: calc(100% - 54px);
		margin-left: 54px;
		.form-control {
			border-radius: 0 4px 4px 0;
		}
	}
	.bootstrap-select {
		> .dropdown-toggle {
			border-radius: 4px 0 0 4px;
			padding-right: 0;
			min-height: 30px;
		}
		&.open > .dropdown-toggle {
			z-index: 2;
		}
	}
	.dropdown-menu {
		min-width: 261px;
	}
	.filter-option-inner-inner {
		font-size: 0;
	}
	.flag {
		pointer-events: none;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		position: absolute;
		left: 7px;
		top: 50%;
		overflow: hidden;
		transform: translateY(-50%);
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			width: 30px;
			height: 30px;
		}
	}
	.bootstrap-select {
	  .dropdown-menu {
	    li a {
	      span.text {
	        position: relative;
	        padding-left: 30px;
	      }
	      .flag {
	      	left: -5px;
	      }
	    }
	  }
	}
}

.group--currency {
	.bootstrap-select {
		.dropdown-toggle {
			text-transform: uppercase;
		}
	  .dropdown-menu {
	    li a {
	      span.text {
	        position: relative;
	        padding-left: 45px;
	      }
	      small {
	        position: absolute;
	        left: 0;
	        top: 2px;
	        padding-left: 0;
	        font-size: 70%;
	      }
	    }
	  }
	}
}

.group--recaptcha {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 10px;
	line-height: 14px;
	ul, li {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 7px;
	}
	.form-control {
		max-width: 50%;
	}
	.controls {
		div {
			margin-bottom: 7px;
		}
	}
	li.active {
		display: none;
	}
}