<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">

  {% include "page-favicon/_page-favicon.html" %}

  {% include "page-resize/_page-resize.html" %}

  <!-- build:css css/style.min.css -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- endbuild -->
</head>

<body>

  <!-- .wrapper -->
  <div class="wrapper">
  
    <div class="wrapper-in">
    
      {% include "header/_header.html" %}
    
      <!-- .content -->
      <main class="content">
        {% block content %}{% endblock %}
      </main><!-- /.content -->

    </div>
    
  </div><!-- /.wrapper -->

  {% include "modal-reg/_modal-reg.html" %}
  
  <!-- build:js js/interface.min.js -->
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
  <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
  <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
  
  <script src="js/interface.js"></script>
  <script src="js/_modals.js"></script>
  <!-- endbuild -->
  
  <!-- build:js js/forms.min.js -->
  <script src="node_modules/jquery.inputmask/dist/inputmask/inputmask.js"></script>
  <script src="node_modules/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
  <script src="node_modules/jquery.inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
  <script src="node_modules/inputmask-multi/js/jquery.inputmask-multi.js"></script>

  <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script src="node_modules/bootstrap-select/dist/js/i18n/defaults-ru_RU.js"></script>

  <script src="js/forms.js"></script>
  <script src="components/form-reg/_form-reg.js"></script>
  <!-- endbuild -->
  
</body>
</html>